#info_container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 40%;
  text-align: center;
  padding: 1em;
  margin: auto;
  margin-top: 15%;
  border-radius: 0.5em;
}
#info_container > * {
  margin: 1em;
}
#slider_container {
  width: 80%;
  margin: auto;
  padding: 1em;
}
.slider_div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
}
.slider_div > div {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.slider_div > div > h2:last-child {
  background-color: #eaf8f5;
  color: #16b588;
  padding: 0.5em;
  border-radius: 0.2em;
}
nav {
  background-color: #0179ff;
  padding: 0.5em;
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  gap: 1em;
  color: white;
}

nav > a:hover {
  text-decoration: underline;
}
form {
  width: 40%;
  margin: auto;
  margin-top: 10%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
}
form > * {
  margin-top: 1em;
}
